.sidebar-menu-container {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: black !important;
    font-weight: bolder;
    overflow-y: auto;
    position: relative;
    min-height: 45rem;
    max-height: calc(80vh - 62px);
}

.main {
    flex: 1;
    overflow-y: auto;
}

.sidebar-menu-container .sidebar-menu .menu-item.active {
    background-color: #b11414; /* Change this to the desired active tab background color */
}

@media screen and (max-width: 768px) {
    .sidebar {
        min-height: 45rem;
        /* Adjust as needed for smaller screens */
    }
}

.sidebar-container {
    display: flex;
    position: relative;
}

.sidebar-toggler {
    position: absolute;
    /* Adjust as needed */
    z-index: 999;
}
